<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.h2.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/db</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password"/>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">validate</property>
        <mapping class="wolanin.studentToolkit.dbHibernate.Classes" />
        <mapping class="wolanin.studentToolkit.dbHibernate.Exams" />
        <mapping class="wolanin.studentToolkit.dbHibernate.Grades" />
        <mapping class="wolanin.studentToolkit.dbHibernate.Teachers" />

    </session-factory>
</hibernate-configuration>